@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  color: #fff;
  font-size: 18px;
  font-family: Roboto-Regular, sans-serif;
  line-height: 1.5;

  background-color: #08020d;
}

.mr-24 {
  margin-right: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.a-clear {
  color: #cacaca;
  text-decoration: none;
}

.cont-rel {
  position: relative;
}

.flex-container {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.btn {
  padding: 20px 30px;

  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 5px;
}

@media (min-width: 1240px) {
  h1 {
    font-size: 60px;
    font-family: Roboto-Bold, sans-serif;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    font-size: 38px;
    font-family: Roboto-Bold, sans-serif;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;
  }

  .container {
    width: 1240px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 1199px) {
  h1 {
    font-size: 30px;
    font-family: Roboto-Bold, sans-serif;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18px;
    font-family: Roboto-Bold, sans-serif;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
  }

  .container {
    width: 100%;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.header {
  position: absolute;
  top: 25px;

  align-items: center;
}

.flex-marg-header {
  margin-left: 451px;
}

.head-a {
  margin-right: 24px;
  padding-top: 3px;

  color: #cacaca;
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.head-a:last-child {
  margin-right: 0;
}

.flex-marg-logo {
  margin-right: 16px;
}

.flex-marg-logo:last-child {
  margin-right: 90px;
}

.logo-title {
  align-items: center;
}

.search {
  min-width: 248px;
  padding: 5px 10px 4px;

  color: #757575;

  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}

@media (max-width: 1199px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
  }

  .header {
    right: 20px;
    left: 20px;

    flex-direction: column;
    align-items: flex-start;
  }

  .flex-marg-header {
    width: 100%;
    margin-left: 0;
  }

  .flex-marg-logo {
    margin-bottom: 17px;
  }

  .search {
    width: 100%;
  }
}

.bcg-sec-1 {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.section-1 {
  color: #fff;
  text-align: center;
}

.section-1 h2 {
  margin-bottom: 31px;
}

.section-1 p {
  margin-bottom: 16px;

  font-size: 16px;
}

.section-1 .sec-1-form {
  flex: 1 1 0;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;

  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.section-1 .sec-1-form::placeholder {
  color: #fff;
  font-size: 14px;
  font-family: Roboto-Bold, sans-serif;
}

.section-1 .flex-form {
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
  margin: auto;
}

.section-1 .btn-green {
  width: 100%;

  background-color: #34c176;
  border: none;
}

@media (max-width: 1199px) {
  .bcg-sec-1 {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .section-1 h1 {
    margin-top: 48px;
  }

  .section-1 h2 {
    margin-bottom: 16px;
  }

  .section-1 .mr-24 {
    margin-right: 0;
  }
}

.subscription {
  padding-top: 100px;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-base {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-prem {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.sub-cont {
  text-align: center;
}

.sub-form {
  margin-bottom: 47px;
}

.card-title {
  margin-top: 25px;
  margin-bottom: 200px;

  color: #fff;
  font-weight: 400;
  font-size: 24px;
  font-family: Roboto-Regular, sans-serif;
  line-height: 36px;
  text-transform: uppercase;
}

.pricing-value {
  align-content: start;
  justify-content: center;
  margin-bottom: 40px;
}

.price {
  margin-right: 16px;

  color: #fff;
  font-size: 64px;
  line-height: 64px;
}

.fiat {
  padding-top: 8px;

  font-size: 32px;
  line-height: 32px;
}

.pricing-item {
  margin-right: 50px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  border-radius: 1rem;
}

.pricing-item a {
  color: #cacaca;
  text-decoration: none;
}

.pricing-item-m0 {
  margin-right: 0;
}

.btn-sub {
  display: inline-block;
  min-width: 318px;

  font-size: 16px;

  border: 1px solid #cacaca;
}

.mb-50 {
  margin-bottom: 50px;
}

.pricing-footer {
  max-width: 318px;
  margin-top: 64px;
  margin-bottom: 64px;

  color: #cacaca;
  font-size: 12.8px;
  line-height: 1.5;
}

.flex-set {
  justify-content: center;
  margin-bottom: 40px;
}

.sub-end {
  color: #cacaca;
  font-size: 16px;
}

@media (max-width: 1199px) {
  .flex-set {
    justify-content: center;
  }

  .pricing-item {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .pricing-item:last-child {
    margin-bottom: 0;
  }

  .card-title {
    margin-top: 16px;
    margin-bottom: 197px;

    font-size: 16px;
    line-height: 24px;
  }

  .sub-form {
    margin-bottom: 52px;
  }
}

.news-sec-marg {
  padding-top: 100px;
}

.news-main-title {
  margin-bottom: 48px;
}

.news-col-flex {
  flex-direction: column;
}

.news-h3 {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  text-transform: capitalize;
}

.news-p {
  max-width: 575px;
  margin-bottom: 24px;

  color: #cacaca;
  font-size: 16px;
}

.btn-album {
  display: inline-block;
  padding: 16px 30px;

  color: #cacaca;
  font-size: 12px;

  border: 1px solid #cacaca;
}

.news-item {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;
}

.news-author {
  align-items: center;
  margin-bottom: 48px;

  color: #cacaca;
  font-size: 12px;
}

.text-orange {
  color: #f89202;
  text-transform: uppercase;
}

.news-mb-0 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .news-item {
    justify-content: center;
    margin-bottom: 64px;
  }

  .news-h3 {
    margin-bottom: 16px;

    font-size: 16px;
  }

  .news-img {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .news-item-reverse {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.mobile-sec-marg {
  margin-bottom: 100px;
  padding-top: 100px;
}

.mobile-ver-h2 {
  margin-bottom: 48px;
}

.btn-app {
  display: inline-block;
  padding: 16px 40px;

  font-size: 12.8px;
  text-transform: none;

  background-color: #95390c;
  border: none;
  border-radius: 32px;
}

.app-body {
  max-width: 600px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.app-p {
  margin-bottom: 24px;

  color: #cacaca;
  font-size: 16px;
}

.news-p-bot-16 {
  margin-bottom: 0;
}

.app-img {
  margin-right: 123px;
}

@media (max-width: 1199px) {
  .app-img {
    max-width: 333px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .app-body {
    max-width: 374px;
  }

  .app-p {
    margin-bottom: 16px;
  }
}

.bcg-sec-2 {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.brown-btn {
  margin-bottom: 23px;

  background-color: #95390c;
}

.purple-btn {
  background-color: #5328a1;
}

.artist-btn {
  align-items: center;
  min-width: 200px;
  max-height: 62px;

  font-weight: 400;
  font-size: 12.8px;

  border: none;
}

.svg-img {
  margin-right: 16px;

  filter: invert(100%);
}

.artist-main-title {
  margin-top: 50px;
  margin-bottom: 16px;

  text-align: left;
}

.viewers {
  margin-bottom: 48px;

  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 1199px) {
  .purple-btn {
    margin-bottom: 24px;
  }

  .artist-main-title {
    margin-top: 25px;
  }
}

.top-tracks {
  padding-top: 100px;
}

.top-track-main-title {
  margin-bottom: 48px;

  text-align: left;
}

.track-col {
  flex-direction: column;
  justify-content: center;
}

.top-main-flex {
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-secondary-flex {
  align-items: center;
  justify-content: space-between;
  min-width: 551px;
  margin-bottom: 25px;
}

.album-img {
  margin-right: 15px;
}

.track-info p {
  color: #cacaca;
  font-size: 12.8px;
}

.track-info h3 {
  font-size: 12.8px;
  text-transform: uppercase;
}

.secondary-flex-m0 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .top-secondary-flex {
    min-width: 374px;
  }

  .top-main-flex {
    justify-content: center;
  }

  .secondary-flex-m24 {
    margin-bottom: 24px;
  }
}

.discography {
  padding-top: 100px;
}

.discography-h2 {
  margin-bottom: 48px;

  text-align: left;
}

.disco-col {
  flex-direction: column;
  margin-right: 50px;
  margin-bottom: 25px;
}

.discography-info h3 {
  font-size: 18px;
  text-transform: capitalize;
}

.discography-info p {
  font-size: 16px;
}

.disc-album-img {
  width: 250px;
  height: 250px;
  margin-bottom: 18px;
}

.disco-main-flex {
  flex-wrap: wrap;
}

.disco-col-m0 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .disc-album-img {
    width: 137px;
    height: 137px;
  }

  .discography-info h3 {
    max-width: 137px;
  }

  .discography-info p {
    max-width: 137px;
  }
}

.similar {
  margin-bottom: 100px;
  padding-top: 100px;
}

.funs {
  color: #cacaca;
}

.similar-col {
  text-align: center;
}

.footer-a {
  color: #e0e0e0;
  font-size: 16px;
  font-family: Roboto-Regular, sans-serif;
  text-decoration: none;
}

.footer-p {
  color: #e0e0e0;
  font-size: 16px;
  font-family: Roboto-Regular, sans-serif;
  line-height: 24px;
}

.footer-line {
  border-bottom: 2px solid #cacaca;
}

.footer-bcg {
  font-size: 16px;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-cont-top {
  padding-top: 62px;
  padding-bottom: 72px;
}

.footer-cont-bottom {
  padding-top: 40px;
  padding-bottom: 49px;
}

.footer-flex-col {
  flex-direction: column;
  min-width: 270px;
}

.footer-h2 {
  margin-bottom: 15px;

  color: #fff;
  font-size: 18px;
  font-family: Roboto-Bold, sans-serif;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;
}

.marker {
  line-height: 24px;

  list-style-type: none;
}

.footer-flex-row {
  flex-direction: row;
}

.social-links {
  vertical-align: middle;
}

@media (max-width: 1199px) {
  .col-marg {
    margin-bottom: 30px;
  }

  .footer-flex-col {
    min-width: 374px;
  }

  .footer-cont-top {
    padding-top: 63px;
    padding-bottom: 75px;
  }

  .footer-bottom-col {
    flex-direction: column;
  }

  .footer-bottom-col .footer-a {
    margin-bottom: 16px;
  }

  .footer-bottom-col .footer-a:last-child {
    margin-bottom: 0;
  }

  .footer-bottom-col .last-col {
    margin-bottom: 0;
  }

  .footer-cont-bottom {
    padding-bottom: 47px;
  }

  .mobile-width {
    min-width: 374px;
  }
}
