.header {
  position: absolute;
  top: 25px;

  align-items: center;
}

.flex-marg-header {
  margin-left: 451px;
}

.head-a {
  margin-right: 24px;
  padding-top: 3px;

  color: $text-base-1;
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }
}

.flex-marg-logo {
  margin-right: 16px;

  &:last-child {
    margin-right: 90px;
  }
}

.logo-title {
  align-items: center;
}

.search {
  min-width: 248px;
  padding: 5px 10px 4px;

  color: $search-text;

  background-color: $search;
  border: none;
  border-radius: 50px;
}

@media (max-width: 1199px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
  }

  .header {
    right: 20px;
    left: 20px;

    flex-direction: column;
    align-items: flex-start;
  }

  .flex-marg-header {
    width: 100%;
    margin-left: 0;
  }

  .flex-marg-logo {
    margin-bottom: 17px;
  }

  .search {
    width: 100%;
  }
}
