@mixin title-property {
  font-weight: bold;
  text-transform: uppercase;
}

@mixin title-regular {
  font-weight: normal;
  text-transform: uppercase;
}

@mixin p-top-25 {
  padding-top: 25px;
}

@mixin flex-start-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-start-start {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flex-between-start {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flex-center-start {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin mp-0 {
  margin: 0;
  padding: 0;
}

@mixin link {
  text-decoration: none;
}

@mixin text-12-cacaca {
  color: nth($main-colors, 2);
  font-weight: normal;
  font-size: 12px;
  line-height: nth($text-line-heights, 9);
}

@mixin btn-before {
  position: absolute;

  width: 20px;
  height: 20px;

  background-repeat: no-repeat;

  filter: invert(1);

  content: "";
}
