.mobile-sec-marg {
  margin-bottom: 100px;
  padding-top: 100px;
}

.mobile-ver-h2 {
  margin-bottom: 48px;
}

.btn-app {
  display: inline-block;
  padding: 16px 40px;

  font-size: 12.8px;
  text-transform: none;

  background-color: $brown;
  border: none;
  border-radius: 32px;
}

.app-body {
  max-width: 600px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.app-p {
  margin-bottom: 24px;

  color: $text-base-1;
  font-size: 16px;
}

.news-p-bot-16 {
  margin-bottom: 0;
}

.app-img {
  margin-right: 123px;
}

@media (max-width: 1199px) {
  .app-img {
    max-width: 333px;

    margin-right: 0;
    margin-bottom: 0;
  }

  .app-body {
    max-width: 374px;
  }

  .app-p {
    margin-bottom: 16px;
  }
}
