.page-news {
  padding-top: 100px;

  text-align: center;

  .title-2 {
    @include mp-0;
    margin-bottom: 50px;
  }

  .newses {
    @include flex-column-start;

    .news-item {
      @include flex-start-start;

      .news-wrapper {
        @include flex-column-start;

        .news-body {
          .news-title {
            margin-top: 0;

            font-weight: normal;
            font-size: 30px;
            line-height: 45px;
            text-align: left;
            text-transform: capitalize;
          }

          .news-text {
            margin-bottom: 0;

            color: nth($main-colors, 2);
            font-weight: normal;
            font-size: nth($text-sizes, 8);
            line-height: nth($text-line-heights, 8);
            text-align: left;
          }
        }

        .news-footer {
          @include flex-column-start;

          .news-author {
            @include flex-start-center;
            margin-top: 10px;

            .avtor-company {
              margin: 0;
              margin-left: 19px;

              color: nth($main-colors, 6);
              font-weight: normal;
              font-size: 12px;
              line-height: nth($text-line-heights, 9);
              text-transform: uppercase;
            }

            .news-data {
              @include text-12-cacaca;
              margin-left: 19px;
            }
          }

          .btn-news {
            @include link;
            @include text-12-cacaca;
            box-sizing: border-box;
            width: 135px;
            height: 53px;
            margin-top: 35px;
            padding: 16px 30px;

            text-transform: uppercase;

            border: 1px solid #cacaca;
          }
        }
      }

      .first-wrapper {
        width: 575px;
        margin-right: 50px;
      }

      .second-wrapper {
        width: 575px;
      }
    }

    .news-item:first-of-type {
      margin-bottom: 63px;
    }
  }
}

@media screen and (max-width: 414px) {
  .page-news {
    .title-2 {
      margin-bottom: 48px;
    }

    .newses {
      .news-item {
        @include flex-column-start;

        .news-wrapper {
          order: 2;

          .news-body {
            .news-title {
              margin-top: 50px;

              font-weight: normal;
              font-size: nth($text-sizes, 8);
              line-height: nth($text-line-heights, 8);
            }
          }
        }

        .img-news {
          order: 1;
        }

        .first-wrapper,
        .second-wrapper {
          width: 374px;
          margin-right: 0;
          margin-left: 0;
        }
      }

      .news-item:first-of-type {
        margin-bottom: 65px;
      }
    }
  }
}
