.page-news {
  @include flex-center;
}

#page-news {
  width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
}

.main-news-title {
  margin-bottom: 48px;
}

.news-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 1 1 1200px;
}

.first-new-post {
  margin-left: 50px;
}

.second-new-post {
  margin-right: 50px;
}

.second-new {
  margin-top: 65px;
}

.new-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3.new-title {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  color: $white;
}

.new-post-description {
  margin-bottom: 24px;
  text-align: start;
  color: $dark-gray;
}

.news-footer {
  margin-bottom: 28px;
}

.news-author {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 64px;
}

.news-author-name {
  @include uppercase;

  margin-left: 16px;
  font-size: 12px;
  line-height: 19px;
  color: $orange;
}

.new-post-date {
  margin-left: 16px;
  font-size: 12px;
  line-height: 19px;
}

.btn-album {
  @include uppercase;

  width: 135px;
  height: 53px;
  padding: 16px 30px;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
}

/* Laptop version */

@media (max-width: 1240px) {
  .news-item {
    flex-flow: column wrap;
  }

  .second-new {
    flex-direction: column-reverse;
  }

  .news-picture {
    max-width: 575px;
    height: auto;
    margin-bottom: 50px;
  }

  .first-new-post,
  .second-new-post {
    margin: 0;
  }

  .new-title,
  .new-post-description {
    margin-bottom: 16px;
  }
}

/* Mobile Version */

@media (max-width: 768px) {
  h3.new-title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .news-picture {
    max-width: 500px;
    align-self: center;
  }

  .second-new {
    margin-top: 55px;
  }
}

@media (max-width: 576px) {
  .news-picture {
    max-width: 374px;
    align-self: center;
  }
}

@media (max-width: 400px) {
  .news-picture {
    max-width: 300px;
  }
}
