.page-app {
  @include flex-center;

  padding-bottom: 100px;
}

#page-app {
  width: 1240px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-app-title {
  margin-bottom: 48px;
}

.page-app-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  flex: 1 1 1200px;
}

.page-app-items {
  margin-right: 144px;
}

.page-app-description {
  max-width: 600px;
  text-align: start;
  margin-top: 16px;
}

.btn-download {
  display: block;
  margin-top: 16px;
  padding: 16px 40px;
  width: 131px;
  height: 53px;
  background: $red;
  border: none;
  border-radius: 32px;
  text-align: center;
  font-size: 12.8px;
  color: $white;
}

.page-app-image {
  width: 333px;
  height: 278px;
}

/* Mobile version */
@media (max-width: 1050px) {
  .page-app-wrapper {
    flex-direction: column-reverse;
  }

  .page-app-image {
    align-self: center;
  }

  .page-app-description {
    max-width: 100%;
  }

  .page-app-items {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .page-app-image {
    margin-left: 20px;
    margin-right: 20px;
  }

  .page-app-description {
    width: 374px;
  }

  .page-app-description:nth-child(1) {
    height: 92px;
  }
}

@media (max-width: 400px) {
  .page-app-description {
    width: 300px;
    height: auto;
  }

  .page-app-items {
    width: 320px;
  }

  .page-app-image {
    margin-right: 0;
    margin-left: 0;
    width: 320px;
    height: auto;
  }
}
