.mobile-app {
  &-description {
    max-width: 600px;

    font-size: 16px;

    &-button {
      display: block;

      padding: 16px 40px;

      border: 0;
      border-radius: 32px;

      font-size: 12.8px;

      text-transform: capitalize;

      background-color: $light-brown;
    }
  }

  &-picture {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .mobile-app {
    flex-direction: column-reverse;
  }
}
