.bcg-sec-1 {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.section-1 {
  color: $text-base-2;

  text-align: center;

  h2 {
    margin-bottom: 31px;
  }

  p {
    margin-bottom: 16px;

    font-size: 16px;
  }

  .sec-1-form {
    flex: 1 1 0;
    min-width: 270px;
    min-height: 50px;
    margin-bottom: 1.5rem;
    padding-left: 20px;

    background-color: transparent;
    border: 2px solid $text-base-1;
    border-radius: 3px;

    &::placeholder {
      color: $text-base-2;
      font-size: 14px;
      font-family: Roboto-Bold, sans-serif;
    }
  }

  .flex-form {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 570px;
    margin: auto;
  }

  .btn-green {
    width: 100%;

    background-color: $green;
    border: none;
  }
}

@media (max-width: 1199px) {
  .bcg-sec-1 {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .section-1 {
    h1 {
      margin-top: 48px;
    }

    h2 {
      margin-bottom: 16px;
    }

    .mr-24 {
      margin-right: 0;
    }
  }
}
