.page-similar {
  margin-bottom: 100px;
  padding-top: 100px;

  .similar-title {
    @include mp-0;
    margin-bottom: 50px;
  }

  .similar-wrapper {
    @include flex-start-start;

    .similar-item {
      margin-right: 50px;
      margin-bottom: 25px;

      .similar-info {
        .similar-item-title {
          margin-top: 10px;
          margin-bottom: 0;

          color: nth($main-colors, 9);
          font-weight: bold;
          font-size: nth($desktop-title-sizes, 4);
          line-height: nth($desktop-title-line-heights, 5);
          text-align: center;
          text-transform: capitalize;
        }

        .similar-text {
          @include mp-0;
          color: nth($main-colors, 3);
          font-weight: normal;
          font-size: nth($text-sizes, 8);
          line-height: nth($text-line-heights, 8);
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .page-similar {
    .similar-wrapper {
      .similar-item {
        .similar-img {
          width: 137px;
          height: 137px;
        }

        .similar-info {
          .similar-text {
            max-width: 138px;
          }
        }
      }

      .similar-item:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
