.subscription {
  padding-top: 100px;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-base {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-prem {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.sub-cont {
  text-align: center;
}

.sub-form {
  margin-bottom: 47px;
}

.card-title {
  margin-top: 25px;
  margin-bottom: 200px;

  color: $text-base-2;
  font-weight: 400;
  font-size: 24px;
  font-family: Roboto-Regular, sans-serif;
  line-height: 36px;
  text-transform: uppercase;
}

.pricing-value {
  align-content: start;
  justify-content: center;
  margin-bottom: 40px;
}

.price {
  margin-right: 16px;

  color: $text-base-2;
  font-size: 64px;
  line-height: 64px;
}

.fiat {
  padding-top: 8px;

  font-size: 32px;
  line-height: 32px;
}

.pricing-item {
  margin-right: 50px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  border-radius: 1rem;

  a {
    color: $text-base-1;
    text-decoration: none;
  }
}

.pricing-item-m0 {
  margin-right: 0;
}

.btn-sub {
  display: inline-block;
  min-width: 318px;

  font-size: 16px;

  border: 1px solid $text-base-1;
}

.mb-50 {
  margin-bottom: 50px;
}

.pricing-footer {
  max-width: 318px;
  margin-top: 64px;
  margin-bottom: 64px;

  color: $text-base-1;
  font-size: 12.8px;
  line-height: 1.5;
}

.flex-set {
  justify-content: center;
  margin-bottom: 40px;
}

.sub-end {
  color: $text-base-1;
  font-size: 16px;
}

@media (max-width: 1199px) {
  .flex-set {
    justify-content: center;
  }

  .pricing-item {
    margin-right: 0;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .card-title {
    margin-top: 16px;
    margin-bottom: 197px;

    font-size: 16px;
    line-height: 24px;
  }

  .sub-form {
    margin-bottom: 52px;
  }
}
