$bcg-base: #08020d;
$text-base-1: #cacaca;
$text-secondary: #e0e0e0;
$text-base-2: #fff;
$green: #34c176;
$orange: #f89202;
$brown: #95390c;
$purple: #5328a1;
$search: #3c3b3d;
$search-text: #757575;

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
